body {
	background-color: rgb(255, 255, 255);
}

div.directorioPropiedades {
	display: flex;
	width: 80%;
	height: 550px;
	margin: 0 auto;
	border-radius: 5px;
	border-style: solid;
	border-color: rgb(223, 225, 241);
	border-width: 1px;
	background-color: #f8f8f8;
}

.sliders {
    margin-top: 0px;      
    margin-left: 15em;
    /* width: 400px; */
    position: absolute;      
    z-index: 2;
    background-color: rgba(225, 242, 182, 0.83);
    display: none;
}

div.etiquetas {
    height: initial;
    display: inline;
}

input.botonesTag:hover {
    background: #ddd;
}

input.botonesTag {
    font-size: 10px;
    font-family: Verdana,Helvetica;
    font-weight: bold;
    /* color: white; */
    background-color: rgba(0,0,0,0);
    border: 0px;
}

.separador{
    font-size: 18px;
    color: #999;
}
div#directorioActual {
    width: 80%;  
    margin: 0 auto;
    margin-top: 40px;
}
a {
    color: #4183c4;
    text-decoration: none;
}
.directorio{
   font-size: 18px; 
}

div#listaPropiedades {
    width: 20%;
}
div#listaFicheros {
    width: 70%;
}
div.directorioPropiedades {
    /* margin-top: 80px; */
}

#listaFicheros {
		overflow: auto;
	
}
#listaDirectorios {
    width: 80%;
    overflow: auto;
	
}
#imgCarga{
    display: none;
}

p {
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
    color: #666666;
    font-weight: bold;
    line-height: 1.7em;
    padding: 0.2em 0.6em;
    margin-top: 1px;
    text-align: center;
}

div.botonesAccion {
    height: 32px;
}

#listaPropiedades{
		overflow: auto;
		border-left-style: solid;
		border-left-color: rgb(223, 225, 241);
		border-left-width: 1px;
}


#archivosSeleccionados{
    width: 100%;
    border-style: none;
    height: 90%;
    color: #4183c4;
    text-decoration: none;
}

#archivosSeleccionados{
	width: 100%;
	border-style: none;
	height: 80%;
}

.directorioPropiedades div {
	/* border-color: black; */
	
	height: 100%;
	/* border-style: solid; */
}

div#descargarArchivosMarcados {
    text-align: center;
    height: 21px;
    margin-top: 30px;
    background-color: rgb(45, 45, 45);
}

header {
	position: absolute;
	left: 0pt;
	top: 0pt;
	width: 100%;
	min-width: 980px;
	border-color: rgb(0, 0, 0);
	background-color: rgb(45, 45, 45);
	color: rgb(187, 187, 187);
	font: 13px/27px Arial, sans-serif;
	font-weight: bold;
}

/* 
   =======================================
   ============== TOP TAB ================
   =======================================
*/
.botonesAccion nav {
	list-style: none outside none;
	display: block;
	width: 720px;
	height: 30px;
	margin: 0pt;
	padding: 0pt;
	margin-left: 19pt;
	overflow: hidden;
}

.botoneDescargar nav {
	list-style: none outside none;
	display: block;
	width: 720px;
	height: 30px;
	margin: 0pt;
	padding: 0pt;
	margin-left: 19pt;
	overflow: hidden;
}

.botonesAccion nav ul{
	
	margin: 0pt;
	
}

 .botonesAccion nav ul li {
	position: relative;
	display: inline-block;
	line-height: 27px;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 2pt;
	vertical-align: top;
}

 .botonesAccion nav ul li a {
	text-decoration: none;
	color: rgb(187, 187, 187);
}

.botonesAccion a:hover {
	color: rgb(255, 255, 255);
}


 div div ul {
	margin: 0 auto 0 auto;
	width: 330px;
}

 	div div ul li {
		padding: 20px;	
	}
	
	div div ul li a, div div ul li a:link, div div ul li a:visited {
		outline: none;
		text-align: rIght;
	}

div div a.folder_link {
	display: block;
	width: 270px;
	height: 87px;
	background: url(../images/expanded.jpg) no-repeat 0 -87px;
	color: #838383;
	font-size: 24px;
	text-decoration: none;
	line-height: 87px;
}

	div div a.folder_link:hover {
		background-position: 0 0;
		text-decoration: underline;
	}

div div a.folder_link_collapsed {
	background: url(resource:resource:resource:/images/collapsed.jpg) no-repeat 0 -87px;
}

div div a.folder_link_expanded {
	background: url(../images/expanded.jpg) no-repeat 0 -87px;
}
	
div div div.folder_content {
	padding: 0 0 0 25px;
}

table {
	border-top: 1px solid #DFDFDF;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

tr {
	border: 0;
}

tr>td:first-child, tr>th:first-child {
	padding-left: 1.25em;
}

tr>td:last-child, tr>th:last-child {
	padding-right: 1.25em;
}

td, th {
	line-height: 1.5em;
	padding: 0.5em 0.6em;
	text-align: left;
	vertical-align: top;
}

th {
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	color: #666666;
	font-weight: bold;
	line-height: 1.7em;
	padding: 0.2em 0.6em;
}

thead th {
	white-space: nowrap;
}

th a {
	display: block;
	text-decoration: none;
}

th a:link, th a:visited {
	color: #666666;
}

th a:hover, th a:focus {
	color: #333333;
}

th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	background: #f7f7f7;
}

.even {
	background: #ffffff;
}

th:hover, tr:hover {
	background: #E1F2B6;
}
